{% spaceless %}
<html>
<head>
    <title>Afup Forum Scanner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Afup Forum Scanner</h1>
    <p>Télécharger ionic view
        sur
    <a href="https://itunes.apple.com/fr/app/ionic-view/id849930087?mt=8">iOS App Store</a>
    ou
    <a href="https://play.google.com/store/apps/details?id=com.ionic.viewapp">Android Play Store</a>
    </p>
    <p>
        Une fois l'app téléchargée, connectez-vous avec le compte cyril.pascal_ionic (arobase) m4x (point) org et le
        mot de passe super sécurisé.
    </p>
    <p>
        Pour pouvoir envoyer les scans, il faudra entrer la clé de sécurité.
    </p>
</body>
</html>
{% endspaceless %}
